/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    list-style-type: none;
}
html {
    font-size: 11px;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: "Noto Sans SC", sans-serif;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* COLORS
 yellow = #BF923C
 border blur = #746342
 gray = #464646
 light text = #5B5B5B
 light black text = #2F2F2F
    */

/* GREY SCALE
    yellow = #4b4a45
    gray = #111
*/

/* 
FONTS
 font-family: 'Montserrat', sans-serif;
 font-family: 'Noto Sans SC', sans-serif;
*/
/* END RESET */
.header-wrap {
    display: flex;
    border-bottom: 3px solid #4b4a45;
}
.body-wrap {
    display: flex;
}
.left-section {
    border-right: 3px solid #4b4a45;
    background-color: #111;
    width: 35%;
    display: flex;
    flex-direction: column;
}
.right-section {
    width: 65%;
    display: flex;
    flex-direction: column;
}

/* contact section */

.contact {
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: flex-end;
}

.contact.left-section div:nth-child(1) {
    margin-top: 30px;
}
.contact.left-section div:nth-child(4) {
    margin-bottom: 30px;
}

.contact-item {
    display: flex;
    margin-right: 15px;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.contact-item a {
    display: flex;
    text-decoration: none;
    color: white;
}
.contact-item .small-link {
    font-size: 1.2rem;
    text-align: right;
}

.hexagon {
    transform-style: preserve-3d;
    align-self: center;
    position: relative;
    width: 25px;
    height: 14.43px;
    background-color: #4b4a45;
    margin-left: 15px;
}
.hexagon::before,
.hexagon::after {
    content: "";
    position: absolute;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
}
.hexagon::before {
    bottom: 100%;
    border-bottom: 7.22px solid #4b4a45;
}
.hexagon::after {
    transform: translateZ(-1px);
    top: 100%;
    border-top: 7.22px solid #4b4a45;
}
img {
    width: 20px;
    height: 18px;
    z-index: 5;
    position: relative;
    left: 2px;
    bottom: 2px;
}
#in {
    width: 18px;
    left: 3px;
    bottom: 3px;
}
#pin {
    bottom: 1px;
}
/* name */

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.title h3 {
    font-family: "Montserrat", sans-serif;
    align-self: flex-end;
    width: 88%;
    font-size: 1.5rem;
    color: #5b5b5b;
    text-align: center;
    margin: 0 30px 5px 0;
}

.title div {
    margin: 30px;
    margin-bottom: 0;
    align-self: flex-end;
    width: 88%;
    background-color: #111;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title div h1 {
    color: white;
    margin: 20px 0 0px 0;
}
.title div h1:nth-child(2) {
    margin: -1.5rem 0 20px 0;
    color: #4b4a45;
}

/* BODY*/

/* LEFT */
.body-left {
    color: white;
}

.body-left h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: #4b4a45;
    text-align: center;
    margin-top: 30px;
}

.body-left p {
    text-align: center;
    font-size: 1.2rem;
}
.body-left-item p strong {
    font-style: italic;
}
.body-left li {
    padding: 0 40px 0 0;
    text-align: center;
}
#sum {
    width: 90%;
    margin: 0 auto;
}
#edu {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.body-left h4 {
    font-family: serif;
    font-weight: 100;
    font-style: italic;
    align-self: flex-end;
}

/* RIGHT */
.body-right-content {
    font-size: 1.2rem;
    align-self: flex-end;
    width: 88%;
    margin-right: 30px;
}
.body-right h2 {
    font-family: "Montserrat", sans-serif;
    color: black;
    text-align: center;
    margin-top: 20px;
}
.body-right a {
    color: #4b4a45;
}
#port div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#port p {
    text-align: center;
}
#port a {
    align-self: center;
    width: 100px;
    margin: 20px 0 0 0;
}
#port #port-link {
    width: auto;
    align-self: center;
    margin: 5px 0 0 0;
}
#projects {
    border-bottom: 3px solid #4b4a45;
    margin-bottom: 10px;
}
#career {
    border-bottom: 3px solid #4b4a45;
}
.job-item strong {
    font-size: 1rem;
    font-weight: 400;
}
.project-item strong {
    font-size: 1.3rem;
    font-weight: 600;
}
.project-item .project-title {
    border-bottom: 1px solid #4b4a45;
}
.project-item .body-left-item-content {
    margin-left: 10px;
}
.project-description {
    margin-top: 0.5em;
}
.tech {
    display: flex;
}
.tech h4 {
    font-size: 1.2rem;
    font-weight: 500;
    width: 30%;
    display: flex;
    align-items: center;
}
.tech ul {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.project-item .links {
    margin-bottom: 0.5em;
}
.project-item:last-of-type .links {
    margin-bottom: 0px;
}
.project-item .links strong {
    font-size: 1.2rem;
    font-weight: 500;
}
